In [1]:
import pandas as pd
import difflib

# 1.Upload the data in Python

In [2]:
table_names = ['New_Card', 'District', 'Loan', 'New_Client', 'New_Disposition', 'New_Account', 'New_Transaction', 'Order']
tables = {}

In [3]:
for table_name in table_names:
    try:
        df=pd.read_excel("Main_Data.xlsx",sheet_name=table_name)
        tables[table_name]=df
    except Exception as e:
        print(f"Error importing {table_name}: {str(e)}")

In [4]:
New_Card=tables['New_Card']
print(New_Card.head(2))

   card_id  disp_id     type  issued
0     1005     9285  CLASSIC  931107
1      104      588  CLASSIC  940119

In [5]:
District=tables['District']
print(District.head(2))

   A1           A2               A3       A4  A5  A6  A7  A8  A9    A10  \
0   1  Hl.m. Praha           Prague  1204953   0   0   0   1   1  100.0
1   2      Benesov  central Bohemia    88884  80  26   6   2   5   46.7

     A11   A12   A13  A14    A15    A16
0  12541  0.29  0.43  167  85677  99107
1   8507  1.67  1.85  132   2159   2674

In [6]:
Loan=tables['Loan']
print(Loan.head(2))

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12      8033      B
1     5316        1801  930711  165960        36      4610      A

In [7]:
New_Client=tables['New_Client']
print(New_Client.head(2))

   Unnamed: 0  client_id  birth_number  district_id  gender  age   age_levels
0           1          1        701213           18  FEMALE   29        ADULT
1           2          2        450204            1    MALE   54  MIDDLE AGED

In [8]:
New_Disposition=tables['New_Disposition']
print(New_Disposition.head(2))

   disp_id  client_id  account_id   type
0        1          1           1  OWNER
1        2          2           2  OWNER

In [9]:
New_Account=tables['New_Account']
print(New_Account.head(2))

   account_id  district_id         frequency
0         576           55  MONTHLY ISSUANCE
1        3818           74  MONTHLY ISSUANCE

In [10]:
Order=tables['Order']
print(Order.head(2))

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER

In [11]:
New_Transaction=tables['New_Transaction']
print(New_Transaction.head(2))

   Unnamed: 0  account_id    date    type       operation  amount  balance  \
0           1        2378  930101  CREDIT  CREDIT IN CASH   700.0    700.0
1           2         576  930101  CREDIT  CREDIT IN CASH   900.0    900.0

  k_symbol
0      NaN
1      NaN

# 2.Find the joining factors between different tabs.

In [12]:
common_columns = set(tables['New_Client'].columns).intersection(set(tables['New_Account'].columns))

# Perform the join if there are common columns
if common_columns:
    joined_df = pd.merge(tables['New_Client'], tables['New_Account'], on=list(common_columns), how='inner')
    print("Joined DataFrame:")
    print(joined_df)
else:
    print("Unable to perform the join due to missing common columns.")

Joined DataFrame:
        Unnamed: 0  client_id  birth_number  district_id  gender  age  \
0                1          1        701213           18  FEMALE   29
1                1          1        701213           18  FEMALE   29
2                1          1        701213           18  FEMALE   29
3                1          1        701213           18  FEMALE   29
4                1          1        701213           18  FEMALE   29
...            ...        ...           ...          ...     ...  ...
648556        5198      11701        490414            9    MALE   50
648557        5198      11701        490414            9    MALE   50
648558        5198      11701        490414            9    MALE   50
648559        5198      11701        490414            9    MALE   50
648560        5198      11701        490414            9    MALE   50

         age_levels  account_id         frequency
0             ADULT       10973   WEEKLY ISSUANCE
1             ADULT        3287  MONTHLY ISSUANCE
2             ADULT        2987  MONTHLY ISSUANCE
3             ADULT        2479  MONTHLY ISSUANCE
4             ADULT        3003  MONTHLY ISSUANCE
...             ...         ...               ...
648556  MIDDLE AGED        4091  MONTHLY ISSUANCE
648557  MIDDLE AGED        1342  MONTHLY ISSUANCE
648558  MIDDLE AGED        1727  MONTHLY ISSUANCE
648559  MIDDLE AGED        3963  MONTHLY ISSUANCE
648560  MIDDLE AGED         934  MONTHLY ISSUANCE

[648561 rows x 9 columns]

# 3. Is there any need for data cleaning?

# Check for missing values in each DataFrame

In [15]:
for table_name,df in tables.items():
    missing_values=df.isnull().sum().sum()
    print(f"Table: {table_name}-Missing Values:{missing_values}")

Table: New_Card-Missing Values:0
Table: District-Missing Values:0
Table: Loan-Missing Values:0
Table: New_Client-Missing Values:0
Table: New_Disposition-Missing Values:0
Table: New_Account-Missing Values:0
Table: New_Transaction-Missing Values:657309
Table: Order-Missing Values:1379

# Check for duplicate values in each DataFrame

In [16]:
for table_name, df in tables.items():
     duplicates = df.duplicated().sum()
     print(f"Table: {table_name} - Duplicate Rows: {duplicates}")

Table: New_Card - Duplicate Rows: 0
Table: District - Duplicate Rows: 0
Table: Loan - Duplicate Rows: 0
Table: New_Client - Duplicate Rows: 0
Table: New_Disposition - Duplicate Rows: 0
Table: New_Account - Duplicate Rows: 0
Table: New_Transaction - Duplicate Rows: 0
Table: Order - Duplicate Rows: 0

In [18]:
for table_name, df in tables.items():
    before_drop = df.shape[0]  # Number of rows before dropping
    df.dropna(inplace=True)
    after_drop = df.shape[0]  # Number of rows after dropping

    if before_drop > after_drop:
        print(f"Rows have been deleted from {table_name}.")
    else:
        print(f"No rows were deleted from {table_name}.")

No rows were deleted from New_Card.
No rows were deleted from District.
No rows were deleted from Loan.
No rows were deleted from New_Client.
No rows were deleted from New_Disposition.
No rows were deleted from New_Account.
No rows were deleted from New_Transaction.
No rows were deleted from Order.